/* Allgemein Speech*/
speech {
  position: absolute;
  text-align: center;
  display: block;
  bottom: 0px;
  left: 0px;
  color: rgb(231, 241, 255);
  background-color: rgba(11, 14, 19, 0);
  width: 25vw;
  height: 10vh; 
} 



/*Introduction*/
speech.introduction {
  bottom: 73%;
  left: 70%;
}

/*Scene 3, Text 1*/
speech.S3T1 {
  bottom: 73%;
  left: 10%;
}