html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  overflow: hidden;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 3.3vmin;
  color: rgb(240, 18, 103);
}


scene {
  width: 1920px;
  height: 1080px; 
  display: inline-block;
}


canvas {
  width: 1920px;
  height: 1080px;
}


/* SPLASH SCREEN BACKGROUND */

dialog {
  background-image: url("./Backgrounds/Neutral.png");
}

/* Startseite Titel und eigentlich auch Hintergrund vom Kasten oder? */

div {
  background-color: #1c1c1c;
  color: black;
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 3.3vmin;
}


name {
  display: none;
}

speech content {
  color: rgb(230, 241, 255);
}