html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  overflow: hidden;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 130%; 
  color: rgb(240, 18, 103);
} 

scene {
  width: 1920px;
  height: 1080px;
  display: inline-block;
  position: absolute !important;
}

canvas {
  width: 100%;
  height: 100%;
}

/* SPLASH SCREEN BACKGROUND */
dialog {
  background-image: url("./Backgrounds/Neutral.png");
}

/* Startseite Titel*/
div {
  background-color: #1c1c1c;
  color: black;
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 3.3vmin;
}

name {
  display: none;
}

speech content {
  color: rgb(230, 241, 255);
}


.decisionClass{
  padding: 200px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: black;
  background-image: url("./Backgrounds/WhitePage.png");
}

.decisionClass button{
  font-size: 22px;
  font-family: 'Gill Sans MT', sans-serif;;
  height: 60px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-width: 2px; 
  margin: 10px;
  border-color: rgba(27, 19, 53, 0.849);
}


.decisionClass button:hover{
  background-color: rgb(206, 216, 245);
}


.gameMenu {
  position: absolute;
  bottom: 1%;
  left: -65%;
  background-color: #0000;
  border: none;
  background-image: none;
}

.gameMenu button {
border: none;
outline: none;
cursor: default;
background-color: #0000;
color: rgba(230, 241, 255);
font-size: 70%;
font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
}

.gameMenu button:hover{
color:#DAB0B1;
}

.credits {
  text-align: center;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  border: solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgb(230, 241, 255);
  font-size: 20px;
  background-image: none;
} 

.credits table {
  margin-left: auto;
  margin-right: auto;
}

.credits td {
  text-align: left;
  padding: 10px 40px;
  width: 185px;
}

.startScreen {
  text-align: center;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  border: solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgb(230, 241, 255);
  font-size: 20px;
  background-image: none;
}

.startScreen table {
  margin-left: auto;
  margin-right: auto;
}

.startScreen td {
  text-align: left;
  padding: 10px 60px;
}

.shortcuts {
  text-align: center;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  border: solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgb(230, 241, 255);
  font-size: 20px;
  background-image: none;
}

.shortcuts table {
  margin-left: auto;
  margin-right: auto;
}

.shortcuts td {
  text-align: left;
  padding: 10px 60px;
}

dialog.flip {
  background-image: none;
  color: blue;
}

dialog.contract {
  color: red;

}

dialog.text {
  color: rgb(32, 80, 36);
  font-size: 2vh;
  font-weight: bold;
  width: 20vw;
  height: 20vh;
  font-family: 'Century Gothic';
  background-image: url("Images/NovelPageBGs/old_paper.jpg");
}

.finalDecision{
  padding: 0px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
  border-width: 0px;
  background-image: none;
  background-color: rgba(160, 21, 21, 0);
  top: 2%
}

.finalDecision button{
  font-size: 22px;
  font-family: 'Gill Sans MT', sans-serif;;
  height: 60px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-width: 2px; 
  margin: 10px;
  border-color: rgba(27, 19, 53, 0.849);
}